.body{
    margin: 0px;
}
.outer{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}
.main_menunbar{
    width:15%;
    display:flex;
    flex-direction: column;
    /* justify-content:space-evenly ; */
    text-align: left;
    background-color: #fafafb;
    margin-left: 0px;
    margin-top: 10px;
}

.main_menunbar_menu{
    /* margin-top: 20px; */
  padding-top: 10px;
    justify-items: left;
    margin-left: 0px;
   
    width: 100%;
}

.main_menunbar_menu label{
    
   font-size: larger;
}
.main_menunbar_menu ul{
    list-style: none;
    margin-left: 0px;
}
.main_menunbar_menu li{
    list-style: none;
    padding: 20px;
    margin: 0px;
}
.main_menunbar_menu ul li ul{
    visibility: hidden;
    position: absolute;
}

.row2{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.main_contentbar_headerbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main_contentbar_headerbar_left{
    width: 50%;
    display: flex;
    justify-content: left;
}
.main_contentbar_headerbar_right{
    width: 50%;
    display: flex;
    justify-content: right;
}
.main_contentbar_headerbar_left label{
    padding-left: 20px;
    padding-top: 10px;
    font-size: larger;

}
.main_contentbar_headerbar_left img{
   padding: 10px;
}
.circle{
    background-color:blue;
    color:white;
    border-radius: 50px;
    padding: 10px;
}
.main_contentbar_search{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.main_contentbar_search_left{
    width: 50%;
    display: flex;
    justify-content: left;

}
.main_contentbar_search_right{
    width: 50%;
    display: flex;
    justify-content: right;

}
.main_contentbar_search_left input{
    border: none;
    padding-left: 10px;
    padding: 10px;
}
.main_contentbar_search_left img{
   padding: 10px;
}
.main_contentbar_search_right button{
    border: none;
  
}
.main_contentbar_search_right img{
    padding-left: 10px;
  
}
.Barcharts{
    margin: 70px;
}
.main_contentbar_filters{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
/*------------------user delete--------*/
.userdelete{
    width: 70%;
    background-color: rgb(235, 238, 238);
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.tbl{
    width: 100%;
    padding: 10px;
}
.userheader{
    
    text-align: center;

}
.tbl .tr1{
    width: 100%;
    background-color: rgb(244, 252, 252);
    border:none;
}
.tr1 .td{
    width: 100%;
    border: none;
    /* text-align: center; */
    justify-content: center;
}
.trl .th{
    width: 100%;
    border: none;
    text-align: center;
}
/*---------------------------------end-------------------------*/

/*-----------------------user delete----------------------------*/
.usercheckdelete{
    width: 70%;
    background-color: rgb(235, 238, 238);
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    padding: 10px;
   
    

}
.tbl1{
    width: 100%;
    padding: 10px;
}
.userCheckheader{
    
    text-align: center;

}
.tbl1 .tr11{
    width: 100%;
    background-color: rgb(244, 252, 252);
    border:none;
}
.tr11 td{
    width: 10%;
    border: none;
    /* text-align: center; */
    
    justify-content: center;
}
.trl1 th{
    width: 60%;
    border: none;
    text-align: center;
}
.deletebutton{
    width: 90%;
    display: flex;
    justify-content: right;
    /* padding-right: 80px; */
}
