
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.LatestProducts_outer {
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* position: absolute; */
    align-items: center;
}

.LatestProducts_header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    line-height: 49.22px;
    /* position:absolute; */
    margin-top: 10px;
    padding: 10px;

}

.LatestProducts_menu {
    width: 50%;
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    /* position: absolute; */


}

.LatestProducts_menu_col {
    /* width: 20%; */
    color: #151875;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;

    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.LatestProducts_menu_col:hover {
    color: #FB4997;
    border-bottom: 2px solid #FB4997;
}

.LatestProducts_outerimage_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 30px;

}

.LatestProducts_inner_outerimage1_container1_row1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 60px;
}

.LatestProducts_inner_outerimage2_container2_row2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 30px;
    margin-top: 10px;
}


.LatestProducts_inner_inner_imagefull {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 10px;

}

.LatestProducts_inner_top_image_row1 {
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* .LatestProducts_inninnerimage_row :hover{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
} */


.LatestProducts_imagecol2 {
    width: 75%;
    /* background-color: #F7F7F7; */
    display: flex;

    justify-content: center;
    align-items: center;


}

.LatestProducts_icons_row1_col1 {
    visibility:hidden;
    /* visibility:hidden; */
    /* opacity:0; */
    /* transition:visibility 0.3s linear,opacity 0.3s linear; */

    width: 15%;
     /* background-color: red; */
    background-color:  #F7F7F7;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 5px;
    padding-bottom: 10px;
}

.LatestProducts_inner_top_image_row1:hover .LatestProducts_icons_row1_col1{
 
    visibility: visible;
    /* transition: all 1s ease  */
} 

.LatestProducts_imagecol2 img {
    width: 90%;
    height: 90%;
    display: flex;
    max-width: 150px;



    /* margin-left: 60px; */
    margin-bottom: 10px;
    padding-top: 5px;
}
.LatestProducts_icon_imgsale_col1_row1{
    /* width: 10%;
    display: flex;
    justify-content: center; */
    width:20px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-bottom: 50px;
    

}
/* .LatestProducts_imgsale_col1 img{
    

} */
.LatestProducts_icons_col1_row2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;align-items: center;
   
    
} 
/* .LatestProducts_icons_col1_row2 img{
    width:20px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 10px;

} */
.LatestProducts_imageicons1 {

    background-color: #EEEFFB;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-left:15px ;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
 

}
.LatestProducts_imageicons1 img{
    width:30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5px; */
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    

    


}
.LatestProducts_imageicons2 img{
    width:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;

}

.LatestProducts_bottom_imgchair_text_row2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 10px;
    margin-top: 10px;
}

.LatestProducts_bottom_imgchair_lefttext_row2{
    width: 40%;
    display: flex;
    justify-content: left;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 18.75px;
    border-bottom: 2px solid #EEEFFB;
    transform: matrix(1, 0.01, -0.01, 1, 0, 0);

}
.LatestProducts_bottom_imgchair_righttext_row2{
    width: 50%;
    display: flex;
    justify-content: right;  
}
.LatestProducts_bottom_imgchair_righttext_row2 label{
    padding-left: 10px;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 16.41px;
}
.LatestProducts_bottom_imgchair_righttext_row2 span{
    /* padding-left: 10px; */
    color: red;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    text-decoration-line: line-through;
    padding-left: 10px;
    
    
}
