.outer{
    background-color: antiquewhite;
    width: 100%;
}
.row1{
    background-color: rgb(230, 113, 113);
   
   
}
.menu{

    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    margin-top: 35px;
    /* background-color: white;
    border-radius: 5px;
    width: 70%;
    
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    align-items: center; */
    
}
.pic{
    width: 5%;
}
.pic img{
    width: 50%;
    height: 7vh;
}
.userpic{
    width: 10%;
}
.userpic img{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: right;
}
.menuul ul{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 100%;
    height: 7vh;
    padding-right: 40px;
    padding-top: 10px;
    list-style-type:none;
}
.row2{
    background-color: rgb(205, 207, 209);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
   
    

}
.profile{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    align-items: center;
    margin-top: 20px;
    
   
}
.rowcolumn1{
    width: 20%;
    height: 30vh;
    display: flex;
    text-align: left;
}
.rowcolumn1 img{
    width: 100%;
}
.rowcolumn2{
    width: 90%;
}

.menuprofile{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.menuprofile1{
    width: 50%;
}
.menuprofile2{
    width: 50%;
}

.pro2 .created{
    color: grey;
    width: 100%;
    padding-bottom: 2px;
}
.pro3 .Verified{
    color: blue;
    width: 100%;
    padding: 2px;
}
/* .pro4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.lab{
    width: 50%;
    display: flex;
    
}
.lab2{
    width: 50%;
    display: flex;
}
.pro5{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.pro6{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
} */

.profile2{
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 20vh;
    display: flex;
    flex-direction:column;
    margin-left: 15%;
    align-items: left;
    margin-top: 20px;
   padding-left: 20px;
}


